*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color:white;
    
}


.wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    
}

.left{
    width: 400px;
    height: 100vh;

    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;


}

.img_wrapper{
    height: 20%;
    width: 100%;
}
img{
    width: 180px;
    height:auto;
    margin-bottom: 20px;
}

.desc{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
}

.desc_wrapper {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.track_wrapper{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;

  flex-flow: row nowrap;
  justify-content: space-between;
}


.track{
    width: 30%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    border:0;
    color:black;
    font-weight: bold;
    

  }
.right {
    width: 70vh;
    height: 100vh;
    text-align: center;
    align-items: center;
    margin-top: 330px;
    
    
  }
.login{
    margin-left: 180%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.form{
    margin:200px;

}
h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

}
.login_apply{
align-items: center;
text-align: center;
}

input {
    width: 300px;
    height: 40px;

    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    padding-left: 25px;
    background-color: white;
    background-position-x: 5px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-position-y: center;

    border-radius: 35px;
    border: 0;
}


input::placeholder {
    color: gray;
    font-weight: bolder;
    font-style: italic;

}

.apply {
 
    width: 200px;
    height: 40px;
    color: white;
    background-color: orange;
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;

    border-radius: 35px;
    border: 0;

    

}

@media screen and (max-width: 600px){


  .right {
display: flex;
justify-content: flex-start;
align-items: flex-start;
    
    
  }

h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

}
.login_apply{
align-items: center;
text-align: center;
}

input {

    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    padding-left: 25px;
    background-color: white;
    background-position-x: 5px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-position-y: center;

    border-radius: 35px;
    border: 0;
}


input::placeholder {
    color: gray;
    font-weight: bolder;
    font-style: italic;

}

.apply {
 
    width: 200px;
    height: 40px;
    color: white;
    background-color: orange;
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;

    border-radius: 35px;
    border: 0; 

}
}